    <section>
        <button id="createChat"></button>
        <a href="./stuff.js"></a>
    </section>

                    <!-- FLOATING PANEL -->
        <div id="floating-panel">
                    <!-- ORIGIN -->
            <div>
                <div>
                    <input type="text" id="from" placeholder="Origin">
                </div>
            </div>
                    <!-- DESTINATION -->
            <div>
                <div>
                    <input type="text" id="to" placeholder="Destination">
                </div>
            </div>
            <button id="location-btn"> My Location</button>

                    <!-- MODE OF TRANSPORTATION -->
            <b>Mode of Travel</b>
            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="Transit">Transit</option>
            </select>
        </div>
        
                    <!-- CREATING THE MAP -->
        <div id="map"></div>
                        <!-- script for api key -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_uRT6sIe7cwd_kkgbZS0MAvpxr_QeAuE&loading=async&callback=initMap"
            async
            ></script>
        <script src="./map.js"></script>